<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Add Items</title>
</head>
<body>
<h1>Add Toppings and Customizations</h1>
<form method="POST" action="{{btn}}">
    {%for i in range(0, len)%}
    <h3>Enter Name For Topping/Customization #{{i+1}} (If only topping enter 'u')</h3>
    <input name="{{i}}">
    <h3>Enter Price For Topping/Customization #{{i+1}} Numbers and decimals only)</h3>
    <input name="{{i}}a">
    {%endfor%}
    <button type="submit" value="{{btn}}">Done</button>
</form>
</body>
</html>