<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Add Items</title>
</head>
<body>
<h1>Add Item</h1>
<form method="POST" action="{{btn}}">
    <h3>Enter Name</h3>
    <input name="name">
    <h3>Enter SKU ID</h3>
    <input name="sku">
    <h3>Enter Number Of Sizes</h3>
    <input name="numSizes">
     <h3>Enter Menu for This Item Ex. Breakfast if this item is available all day enter 'all'</h3>
    <input name="time">
    <button type="submit" value="{{btn}}">Done</button>
</form>
</body>
</html>