<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3pro.css">
    <title>Add Items</title>
</head>
<body>
<br>
<h1>Edit {{restName}} Menu</h1>
<br>
<h2>Add Item</h2>
<br>
<form method="POST" action="{{btn}}">
    <h3>Enter Name</h3>
    <input name="name">
    <h3>Enter SKU ID</h3>
    <input name="sku">
    <h3>Enter Number Of Sizes</h3>
    <input name="numSizes">
     <h3>Enter Menu for This Item Ex. Breakfast if this item is available all day enter 'all'</h3>
    <input name="time">
    <br>
    <br>
    <button type="submit" value="{{btn}}">Done</button>
</form>
</body>
</html>