<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3pro.css">
    <title>Add Items</title>
</head>
<body>
<br>
<h1>Edit {{restName}} Menu</h1>
<br>
<h2>Add Toppings and Customizations</h2>
<br>
<form method="POST" action="{{btn}}">
    {%for i in range(0, len)%}
    <h3>Enter Name For Topping/Customization #{{i+1}} (If only topping enter 'u')</h3>
    <input name="{{i}}">
    <h3>Enter Price For Topping/Customization #{{i+1}} Numbers and decimals only)</h3>
    <input name="{{i}}a">
    {%endfor%}
    <br>
    <br>
    <button type="submit" value="{{btn}}">Done</button>
</form>
</body>
</html>