<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Coupon</title>
</head>
<body>
<h1>Add Item</h1>
<form method="POST" action="{{btn}}">
    <h3>Enter Coupon Name Ex. halfcof</h3>
    <input name="name">
    <h3>Enter Coupon Item Ex. 12 oz Iced coffee</h3>
    <input name="itm">
    <h3>Enter Coupon Discount Ex. 50% or 2.25</h3>
    <input name="amt">
    <h3>Enter Coupon Limit Ex. 1</h3>
    <input name="lim">
    <button type="submit" value="{{btn}}">Done</button>
</form>
</body>
</html>