<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3pro.css">
    <title>Add Coupon</title>
</head>
<body>
<br>
<h1>Edit {{restName}} Menu</h1>
<br>
<h2>Add Coupon</h2>
<br>
<form method="POST" action="{{btn}}">
    <h3>Enter Coupon Name Ex. halfcof</h3>
    <input name="name">
    <h3>Enter Coupon Item Ex. 12 oz Iced coffee</h3>
    <input name="itm">
    <h3>Enter Coupon Discount Ex. 50% or 2.25</h3>
    <input name="amt">
    <h3>Enter Coupon Limit Ex. 1</h3>
    <input name="lim">
    <br>
    <br>
    <button type="submit" value="{{btn}}">Done</button>
</form>
</body>
</html>