<!DOCTYPE html>

<html>
  <head>
    <title>Orders</title>
      <meta http-equiv="refresh" content="6">
      <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
<body>
<h1>Orders</h1>
<!-- For loop logic of jinja template -->
{%for i in range(0, len)%}
<h2>
    <form action="{{btn}}" method="post">
        {{webDataDisp[i]}}
    <button type="submit" name="item" value="{{keys[i]}}">Done</button>
        	<br>
        <br>
    </form>
</h2>
{%endfor%}

</body>
</html>