<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
    <title>{{restName}} Control Panel</title>
    <link rel="manifest" href="https://firebasestorage.googleapis.com/v0/b/cedarchatbot.appspot.com/o/public%2Fmanifest.json?alt=media&token=9a45a48c-146d-4129-991e-15df106eb254">
<link rel="apple-touch-icon" sizes="60x60" href=https://firebasestorage.googleapis.com/v0/b/cedarchatbot.appspot.com/o/public%2FCedarRobotics%20Logo.jpg?alt=media&token=51c7e994-b3c6-4f45-bf9c-7be72dbff812>
<link rel="apple-touch-icon" sizes="57x57" href=https://firebasestorage.googleapis.com/v0/b/cedarchatbot.appspot.com/o/public%2FCedarRobotics%20Logo.jpg?alt=media&token=51c7e994-b3c6-4f45-bf9c-7be72dbff812>
<link rel="apple-touch-icon" sizes="72x72" href=https://firebasestorage.googleapis.com/v0/b/cedarchatbot.appspot.com/o/public%2FCedarRobotics%20Logo.jpg?alt=media&token=51c7e994-b3c6-4f45-bf9c-7be72dbff812>
<link rel="apple-touch-icon" sizes="76x76" href=https://firebasestorage.googleapis.com/v0/b/cedarchatbot.appspot.com/o/public%2FCedarRobotics%20Logo.jpg?alt=media&token=51c7e994-b3c6-4f45-bf9c-7be72dbff812>
<link rel="apple-touch-icon" sizes="114x114" href=https://firebasestorage.googleapis.com/v0/b/cedarchatbot.appspot.com/o/public%2FCedarRobotics%20Logo.jpg?alt=media&token=51c7e994-b3c6-4f45-bf9c-7be72dbff812>
<link rel="apple-touch-icon" sizes="120x120" href=https://firebasestorage.googleapis.com/v0/b/cedarchatbot.appspot.com/o/public%2FCedarRobotics%20Logo.jpg?alt=media&token=51c7e994-b3c6-4f45-bf9c-7be72dbff812>
<link rel="apple-touch-icon" sizes="144x144" href=https://firebasestorage.googleapis.com/v0/b/cedarchatbot.appspot.com/o/public%2FCedarRobotics%20Logo.jpg?alt=media&token=51c7e994-b3c6-4f45-bf9c-7be72dbff812>
<link rel="apple-touch-icon" sizes="152x152" href=https://firebasestorage.googleapis.com/v0/b/cedarchatbot.appspot.com/o/public%2FCedarRobotics%20Logo.jpg?alt=media&token=51c7e994-b3c6-4f45-bf9c-7be72dbff812>
<link rel="apple-touch-icon" sizes="180x180" href=https://firebasestorage.googleapis.com/v0/b/cedarchatbot.appspot.com/o/public%2FCedarRobotics%20Logo.jpg?alt=media&token=51c7e994-b3c6-4f45-bf9c-7be72dbff812>
<link rel="icon" type="image/png" sizes="192x192"  href=https://firebasestorage.googleapis.com/v0/b/cedarchatbot.appspot.com/o/public%2FCedarRobotics%20Logo.jpg?alt=media&token=51c7e994-b3c6-4f45-bf9c-7be72dbff812>
<link rel="icon" type="image/png" sizes="32x32" href=https://firebasestorage.googleapis.com/v0/b/cedarchatbot.appspot.com/o/public%2FCedarRobotics%20Logo.jpg?alt=media&token=51c7e994-b3c6-4f45-bf9c-7be72dbff812>
<link rel="icon" type="image/png" sizes="96x96" href=https://firebasestorage.googleapis.com/v0/b/cedarchatbot.appspot.com/o/public%2FCedarRobotics%20Logo.jpg?alt=media&token=51c7e994-b3c6-4f45-bf9c-7be72dbff812>
<link rel="icon" type="image/png" sizes="16x16" href=https://firebasestorage.googleapis.com/v0/b/cedarchatbot.appspot.com/o/public%2FCedarRobotics%20Logo.jpg?alt=media&token=51c7e994-b3c6-4f45-bf9c-7be72dbff812>
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#000000">
<meta name="msapplication-TileImage" content=https://firebasestorage.googleapis.com/v0/b/cedarchatbot.appspot.com/o/public%2FCedarRobotics%20Logo.jpg?alt=media&token=51c7e994-b3c6-4f45-bf9c-7be72dbff812>
<meta name="theme-color" content="#000000">
<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://firebasestorage.googleapis.com/v0/b/cedarchatbot.appspot.com/o/public%2Fmain.css?alt=media&token=633f8663-86cd-48f1-bb30-1fd3568246c8">
<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<h1>Control Panel for {{locName}}</h1>
<hr>
<br>
<form action="{{gcard}}" method="POST">
    <button type="submit" name="addItm" value="">Create Gift Card</button>
 </form>
    </h2>
<br>
<br>
<h2>
<form action="{{addCpn}}" method="POST">
    <button type="submit" name="addItm" value="">Add Coupon</button>
 </form>
    </h2>
<br>
<br>
<form action="{{remCpn}}" method="POST">
    <button type="submit" name="addItm" value="">Remove Coupon</button>
 </form>
    </h2>
<br>
<br>
<h2>
<form action="{{editMenu}}" method="POST">
    <button type="submit" name="addItm" value="">Edit Menu</button>
 </form>
    </h2>
<br>
<br>
<h2>
<h2>
<form action="{{createMenu}}" method="POST">
    <button type="submit" name="addItm" value="">Create New Menu</button>
 </form>
    </h2>
<br>
<br>
<h2>
<h2>
<form action="{{importMenu}}" method="POST">
    <button type="submit" name="addItm" value="">Import Menu</button>
 </form>
    </h2>
    <br>
    <br>
    <h2>
        <form action="{{menuLinks}}">
             <button type="submit">Export Menu</button>
          </form>
    </h2>
<br>
<br>
<h2>
<form action="{{outStck}}" method="POST">
    <button type="submit" name="addItm" value="">Set Items Out/In Stock</button>
 </form>
    </h2>
<br>
<br>
<h2>
<h2>
<form action="{{viewCustomers}}" method="POST">
    <button type="submit" name="addItm" value="">View Customers</button>
 </form>
  </h2>
  <br>
  <br>
<form action="{{promo}}" method="POST">
    <button type="submit" name="addItm" value="">Send Promotion To Customers</button>
 </form>
    </h2>
<br>
<br>
<h2>
<form action="{{spreadSheet}}" tarPOST="_blank" method="GET">
    <button type="submit" name="addItm" value="">View Sales Data</button>
 </form>
    </h2>
<br>
<br>
<h2>
<form action="https://squareup.com/login" tarPOST="_blank" method="GET">
    <button type="submit" name="addItm" value="">Go to Square Dashboard</button>
 </form>
    </h2>
<br>
<br>
<br>
</body>
</html>
