<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3pro.css">
    <title>Add Items</title>
</head>
<body>
<br>
<h1>Welcome to {{restName}} Control Panel</h1>
<br>
 <form action="{{viewOrders}}" method="GET">
    <button type="submit" name="viewOrds" value="">View Orders</button>
 </form>
<br>
<br>
<form action="{{addItm}}" method="GET">
    <button type="submit" name="addItm" value="">Add Items</button>
 </form>
<br>
<br>
<form action="{{remItms}}" method="GET">
    <button type="submit" name="addItm" value="">Remove Items or Coupons</button>
 </form>
<br>
<br>
<form action="{{addCpn}}" method="GET">
    <button type="submit" name="addItm" value="">Add Coupon</button>
 </form>
<br>
<br>
<form action="{{signOut}}" method="GET">
    <button type="submit" name="addItm" value="">Sign Out</button>
 </form>
</body>
</html>