<!DOCTYPE html>

<html>
  <head>
       <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3pro.css">
    <title>Remove Items</title>
  </head>
<body>
<br>
<h1>Edit {{restName}} Menu</h1>
<br>
<h2>Remove Items</h2>
<br>
<!-- For loop logic of jinja template -->
{%for i in range(0, len)%}
<h3>
    <form action="{{btn}}" method="post">
        {{names[i]}}
    <button type="submit" name="item" value="{{keys[i]}}">Remove</button>
    </form>
</h3>
{%endfor%}

</body>
</html>